@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-wrapper{
    vertical-align:top;
}
.header-wrapper{
    font-family: Roboto sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 7vh;
    padding: 15px 100px;
}
.nav-list{
    display: inline-block;
    vertical-align: top;
}
.nav-list > li{
    display: inline-block;
    margin-right: 20px;
}
.logo{
    display: inline-block;
    margin: 0 380px 0 100px;
}
.links{
    display: inline-block;
}
.links > img{
    margin-right: 20px;
}
.links img {
    margin-right: 20px;
}
.main-page{
    height: 93vh;
    background-color: #F0EFEB;
}
.title{
    font-family:  Roboto, sans-serif;
    font-size: 60px;
    font-weight: 700;
    width: 534px;
    height: 140px;
    margin-bottom: 90px;
}
.text{
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    height: 56px;
    width: 486px;
    margin-bottom: 36px;
}
.button{
    border-radius: 100px;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    height: 36px;
    width: 130px;
}
.main-content-wrapper{
    display: inline-block;
    margin-top: 90px;
    margin-left: 188px;
    vertical-align: top;
}