@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-wrapper{
    font-family: Roboto sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 100px;
}
.nav-wrapper{
    display:flex;
    align-items: center;
}
.nav-list{
    list-style-type: none;
    display:flex;
}
.nav-list > li{
    margin-right: 20px;
}
.logo{
    margin-left: 100px;
    margin-left:20%;
}
.links{
    display:flex;
    margin-left: auto;
}
.links > img{

}
.links img {
    margin-right: 20px;
}
.main-page{
    height: calc(100vh - 58px);
    background-color: #F0EFEB;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.title{
    font-family:  Roboto, sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.text{
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}
.button{
    border-radius: 100px;
    background: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    height: 36px;
    width: 130px;
}
.main-content-wrapper{

    margin-top: 90px;
    margin-left: 90px;
}
.main-image{

}
.guides{
    height: 100vh;
}